/* app css stylesheet */
body{
  background: #faf8f8;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background: #053c49;
  padding: 10px;
  text-align: center;
}

img {
  width: 350px;
  height: 60px;
}

form{
  margin: 20px;
  color: #eee;
}

form p{
  font-size: 20px;
  letter-spacing: 0.0em;
}
/* 1 - BASE FORM STYLES */
input[type="radio"]{
  opacity: 0;
  width: 0;
  margin: 0;
}
label[for="male"], label[for="female"], label[for="other"]{
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 25px;
  background: url(img/checks.png) no-repeat;
  background-position: 0 -32px;
  line-height: 24px;
  cursor: pointer;
}
input:checked + label[for="male"], input:checked + label[for="female"]{
  background-position: 0 0;
  color: aqua;
} 

/* 3 - CHECKBOX STYLES  */
input[type="checkbox"]{
  opacity: 0;
  width: 0;
  margin: 0;
}
label[for="golf"], label[for="tennis"], label[for="cricket"], label[for="basketball"], label[for="baseball"], label[for="aquatics"], label[for="archery"], label[for="badminton"], label[for="boxing"]{
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 25px;
  background: url(img/checks.png) no-repeat;
  background-position: 0 -98px;
  line-height: 24px;
  cursor: pointer;
}
input:checked + label[for="golf"], input:checked + label[for="tennis"], input:checked + label[for="cricket"], input:checked + label[for="basketball"], input:checked + label[for="baseball"], input:checked + label[for="aquatics"], input:checked + label[for="archery"], input:checked + label[for="badminton"], input:checked + label[for="boxing"]{
  background-position: 0 -65px;
  color: aqua;
}

/* 4 - TEXT INPUT STYLES & FIELDSETS */
fieldset{
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #222;
}
legend{
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}
input[type="email"], input[type="telephone"]{
  display: block;
  width: 300px;
  margin: 0px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  /* display: block;
  margin-bottom: 20px;
  padding: 10px 10px 10px 50px;
  border: 0px;
  border-radius: 4px;
  background: url(img/inputs.png) no-repeat;
  background-color: #222;
  font-size: 16px;
  color: #fff;
  float: left;
  clear: both; */
}
input[type="email"]{
  background-position: 7px, 10px; 
}
input[type="telephone"]{
  background-position: 7px, -58px; 
}


/* 5 - SELECT BOXES */
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  display: block;
  margin: 30px 0;
  padding: 10px 50px 10px 10px;
  background: url(img/select.png) no-repeat 95% center;
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  width: 370px;
}
input[type="submit"]{
  background: #b61111;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.1em;
  border-radius: 4px;
  border: 0; 
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  width: 280px;
}


/* 6 - INPUT VALIDATION STYLES */
input[type="email"]:valid, input[type="telephone"]:valid{
  border: 2px solid #fff;
}
input[type="email"]:valid{
  background-position: 7px -22px;
}
input[type="telephone"]:valid{
  background-position: 7px -97px;
}
input[type="email"]:valid + .tick, input[type="telephone"]:valid + .tick{
  background: url(img/tick.png) center;
  background-size: 100%;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 10px; 
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}





body{
  font-family: Raleway;
  color: #555;
  background: #7ec7db;
  margin: 10px 30px;
}
#homepage{
  max-width: 800px;
  margin: 60px auto;
  padding: 10px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
input[type="text"]{
  display: block;
  width: 300px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
label{
  font-weight: bold;
}
.title{
  color: #fff;
  text-align: center;
  font-size: 48px;
}
#homepage h1{
  text-align: center;
}
form{
  max-width: 800px;
  margin: 30px auto;
}
input[type="submit"]{
  background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   width: 200px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  padding: 15px 0;
  background: #eee;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 4px;
}
span{
  display: inline-block;
  margin: 0 20px;
}
span.dist{
  color: green;
  float: right;
}
span.true{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: green;
}
span.false{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #ff5252;
}
button{
  float: right;
  background: green;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
button.false{display: none;}